---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query { me { id name email url account birthday country_code
        created_at current_language join_date enabled is_admin is_guest is_pending
        is_verified is_view_only last_activity location mobile_phone phone photo_original
        photo_small photo_thumb photo_thumb_small photo_tiny sign_up_product_kind
        teams time_zone_identifier title utc_hours_diff } }"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - invalid_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56-jO0ghLOWWf8QDEiLlwC7K3Hc7eU"
      X-Monday-Auth:
      - 'true'
      X-Monday-Region:
      - undefined
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Not authenticated","extensions":{"code":"NOT_AUTHENTICATED"}}]}'
  recorded_at: Fri, 28 Feb 2025 14:15:37 GMT
recorded_with: VCR 6.3.1
